{% extends 'base.html.twig' %}

{% block title %}{{ 'template.order.sales.title' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'template.order.sales.new.h1' | trans }}</h1>

    {{ include('sales_order/_form.html.twig') }}

    <a href="{{ path('player_sales') }}">{{ 'template.back.sales' | trans }}</a>
{% endblock %}
