{% extends 'base.html.twig' %}

{% block title %}SalesOrder{% endblock %}

{% block body %}
    <h1>SalesOrder</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sales_order.id }}</td>
            </tr>
            <tr>
                <th>Turn</th>
                <td>{{ sales_order.turn }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ sales_order.status }}</td>
            </tr>
            <tr>
                <th>SalesPrice</th>
                <td>{{ sales_order.salesPrice }}</td>
            </tr>
            <tr>
                <th>ProductQuantitySales</th>
                <td>{{ sales_order.productQuantitySales }}</td>
            </tr>
            <tr>
                <th>SalesActivityCost</th>
                <td>{{ sales_order.salesActivityCost }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('player_sales') }}">back to list</a>

    {{ include('sales_order/_delete_form.html.twig') }}
{% endblock %}
