
{% block footer %}
    <div class="footer row m-5">
        <a class="col-lg-2 col-md-4 col-sm-6 col-12 btn btn-lg " href="{{ path('player_sales') }}"> Vente </a>
        <a class="col-lg-2 col-md-4 col-sm-6 col-12 btn btn-lg " href="{{ path('player_publicity') }}">Publicité Distribution</a>
        <a class="col-lg-2 col-md-4 col-sm-6 col-12 btn btn-lg " href="{{ path('player_production') }}">Production</a>
        <a class="col-lg-2 col-md-4 col-sm-6 col-12 btn btn-lg " href="{{ path('player_human_ressourcies') }}">Ressources Humaines</a>
        <a class="col-lg-2 col-md-4 col-sm-6 col-12 btn btn-lg " href="{{ path('player_financial') }}">Gestion Financière</a>
        <a class="col-lg-2 col-md-4 col-sm-6 col-12 btn btn-lg " href="{{ path('player_information') }}">Information Général</a>
    </div>


{% endblock %}
