
{% block footer %}
    <div class="footer row m-5">
        <a class="col-lg-2 col-md-4 col-sm-6 col-12 btn btn-lg " href="{{ path('player_sales') }}"> {{  'template.footer.sales' | trans }} </a>
        <a class="col-lg-2 col-md-4 col-sm-6 col-12 btn btn-lg " href="{{ path('player_publicity') }}">{{  'template.footer.publicity' | trans }}</a>
        <a class="col-lg-2 col-md-4 col-sm-6 col-12 btn btn-lg " href="{{ path('player_production') }}">{{  'template.footer.production' | trans }}</a>
        <a class="col-lg-2 col-md-4 col-sm-6 col-12 btn btn-lg " href="{{ path('player_human_ressourcies') }}">{{  'template.footer.rh' | trans }}</a>
        <a class="col-lg-2 col-md-4 col-sm-6 col-12 btn btn-lg " href="{{ path('player_financial') }}">{{  'template.footer.financial' | trans }}</a>
        <a class="col-lg-2 col-md-4 col-sm-6 col-12 btn btn-lg " href="{{ path('player_information') }}">{{  'template.footer.info' | trans }}</a>
    </div>
{% endblock %}
