{% extends 'base.html.twig' %}

{% block title %}{{ 'template.dismiss.title' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'template.dismiss.h1' | trans }} {{ people }} </h1>

    {{ include('dismiss/_form.html.twig') }}

    <a href="{{ path('player_human_ressourcies') }}">{{ 'template.back.humanRessourcies' | trans }}</a>

{% endblock %}
