{% extends 'base.html.twig' %}

{% block title %}{{ 'template.player.financial.title' | trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-5 p-4">
            <div class="card text-center">
                <div class="card-header  alert alert-success">
                    Augmentation de capital
                </div>
                <div class="card-body row">
                    <span class="col-6 border-right border-bottom">Montant possible</span>
                    <span class="col-6 border-left border-bottom">Montant demandé</span>
                </div>
                <div class="card-body row">
                    <span class="col-6 border-right">10000000</span>
                    <span class="col-6 border-left">
                        //TODO FORM
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-5 p-4">
            <div class="card text-center">
                <div class="card-header  alert alert-success">
                    Escompte créances client
                </div>
                <div class="card-body row">
                    <span class="col-6 border-right border-bottom">Montant disponible d'encours</span>
                    <span class="col-6 border-left border-bottom">Montant demandé</span>
                </div>
                <div class="card-body row">
                    <span class="col-6 border-right">10000000</span>
                    <span class="col-6 border-left"><input type="number"></span>
                </div>
            </div>
        </div>
        <div class="col-md-2 p-4">
            <div class="card text-center">
                <div class="card-header  alert alert-success">
                    Delai crédit client :
                </div>
                <form action="">
                    <div class="card-body">
                        <label><input type="radio" name="customerCredit" checked> Comptant</label>
                    </div>
                    <div class="card-body">
                        <label><input type="radio" name="customerCredit"> 30 jours</label>
                    </div>
                    <div class="card-body">
                        <label><input type="radio" name="customerCredit"> 60 jours</label>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <div class="card text-center">
        <div class="card-header  alert alert-success">
            {{ 'template.player.finacial.loan.actual' | trans }} :
        </div>
        <div class="card-body">
            {{ render(controller('App\\Controller\\LoanController::index')) }}
        </div>
    </div>

    {% if is_granted('CAN_FINANCIAL') %}
    <div class="row">
        <div class="col-md-6">
            <a href="{{ path("loan_production_lign") }}"> {{ 'template.player.finacial.loan.prodlign' | trans }}</a>
        </div>
        <div class="col-md-6">
            <a href="{{ path("loan_factory") }}"> {{ 'template.player.finacial.loan.factory' | trans }}</a>
        </div>
    </div>
    {%  endif %}
{% endblock %}
