{% extends 'base.html.twig' %}
{%  dump %}


{% block title %}Hello PlayerController!{% endblock %}

{% block body %}
    <div class="row">
        <section class="col-6">
            <h1>Service administratif</h1>
                <table>
                    <thead>
                    <tr>
                        <th>Total des salaires</th>
                        <th>Productivité moyenne</th>
                        <th>Coût licenciement moyen</th>
                        <th>Nombre salarié année</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ administrationPrint.totalSalarie }}</td>
                        <td>{{ administrationPrint.ProductivityAvg }}</td>
                        <td>{{ administrationPrint.dismissAvg }}</td>
                        <td>{{ administrationPrint.numberEmployeesTotal }}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="mt-4 mr-4">
                    <div>
                        <a href="{{ path("administration_index") }}">voir les employées</a>
                    </div>
                    <div class="m-1">
                        {{ include('administration/_administration_new_form.html.twig') }}
                    </div>
                    <div class="m-1">
                        {{ include('administration/_administration_cadre_new_form.html.twig') }}
                    </div>
                </div>
                <div>
                    TODO : Include form hausse salaire
                </div>
                <div>
                    TODO : Include form formation
                </div>

        </section>
        <section  class="col-md-6">
            <h1>Service Production</h1>
            <div class="row">
                <div  class="table col-md-8">
                    <table>
                        <thead>
                        <tr>
                            <th>Total des salaires</th>
                            <th>Productivité moyenne</th>
                            <th>Coût licenciement</th>
                            <th>Nombre salarié année</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ productionPrint.totalSalarie }}</td>
                            <td>{{ productionPrint.ProductivityAvg }}</td>
                            <td>{{ productionPrint.dismissAvg }}</td>
                            <td>{{ productionPrint.numberEmployeesTotal }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="mt-4 mr-4">
                        <div>
                            <a href="{{ path("human_ressource_screen_production") }}">voir les employées</a>
                        </div>
                        <div class="m-1">
                            {{ include('work_man/_workmen_new_form.html.twig') }}
                        </div>
                        <div class="m-1">
                            {{ include('technician/_technician_new_form.html.twig') }}
                        </div>
                        <div class="m-1">
                            {{ include('production_director/_factory_director_new_form.html.twig') }}
                        </div>
                    </div>
                    <div>
                        TODO : Include form hausse salaire
                    </div>
                    <div>
                        TODO : Include form formation
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card m-2" style="width: 18rem;">
                        <div class="card-header">
                            Augmentation de salaire
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <input type="number" step="0.1" required>
                                <button>Valider</button>
                            </li>
                        </ul>
                    </div>
                    <div class="card m-2" style="width: 18rem;">
                        <div class="card-header">
                            Formation
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <input type="number" step="0.1" required>
                                <button>Valider</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="row">
        <section class="col-md-6">
            <h1>Service Recherche et Développement</h1>
            <div class="row">
                <div  class="table col-md-8">
                        <table>
                            <thead>
                            <tr>
                                <th>Total des salaires</th>
                                    <th>Productivité moyenne</th>
                                    <th>Coût licenciement</th>
                                    <th>Nombre salarié année</th>
                                    <th>Recruter</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ researchPrint.totalSalarie }}</td>
                                <td>{{ researchPrint.ProductivityAvg }}</td>
                                <td>{{ researchPrint.dismissAvg }}</td>
                                <td>{{ researchPrint.numberEmployeesTotal }}</td>
                                <td>
                                    <div>
                                        <a href="{{ path('researcher_new') }}">Recruter un chercheur</a>
                                    </div>
                                    <div>
                                        <a href="{{ path('researcher_director_new') }}">Recruter un directeur de recherche</a>
                                    </div>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                </div>

                <div class="col-md-4">
                    <div class="card m-2" style="width: 18rem;">
                        <div class="card-header">
                            Augmentation de salaire
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <input type="number" step="0.1" required>
                                <button>Valider</button>
                            </li>
                        </ul>
                    </div>
                    <div class="card m-2" style="width: 18rem;">
                        <div class="card-header">
                            Formation
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <input type="number" step="0.1" required>
                                <button>Valider</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="col-md-6">
            <h1>Service force de vente</h1>
            <div class="row">
                <div  class="table col-md-8">
                    <table>
                        <thead>
                        <tr>
                            <th>Total des salaires</th>
                            <th>Productivité moyenne</th>
                            <th>Coût licenciement</th>
                            <th>Nombre salarié année</th>
                            <th>Recruter</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ salesManPrint.totalSalarie }}</td>
                            <td>{{ salesManPrint.ProductivityAvg }}</td>
                            <td>{{ salesManPrint.dismissAvg }}</td>
                            <td>{{ salesManPrint.numberEmployeesTotal }}</td>
                            <td>
                                <div>
                                    <a href="{{ path('sales_man_particular_new') }}">Recruter vendeur pour particlier</a>
                                </div>
                                <div>
                                    <a href="{{ path('sales_man_professional_new') }}">Recruter vendeur pour Professionnel</a>
                                </div>
                                <div>
                                    <a href="{{ path('sales_man_director_new') }}">Recruter directeur des ventes</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-md-4">
                    <div class="card m-2" style="width: 18rem;">
                        <div class="card-header">
                            Augmentation de salaire
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <input type="number" step="0.1" required>
                                <button>Valider</button>
                            </li>
                        </ul>
                    </div>
                    <div class="card m-2" style="width: 18rem;">
                        <div class="card-header">
                            Formation
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <input type="number" step="0.1" required>
                                <button>Valider</button>
                            </li>
                        </ul>
                    </div>
                    <div class="card m-2" style="width: 18rem;">
                        <div class="card-header">
                            Commission sur vente
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <input type="number" step="0.1" required>
                                <button>Valider</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>



{% endblock %}
