{% extends 'base.html.twig' %}


{% block title %}{{ 'template.player.production.title' | trans }}{% endblock %}

{% block body %}
    <section>
        <h1>{{ 'template.player.production.unit.h1' | trans }}</h1>
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'template.player.production.unit.factory.name' | trans }}</th>
                <th>{{ 'template.player.production.unit.factory.creatat' | trans }}</th>
                <th>{{ 'template.player.production.unit.lignprod.name' | trans }}</th>
                <th>{{ 'template.player.production.unit.factory.sales' | trans }}</th>
{#                {% if is_granted('CAN_PRODUCTION') %}#}
                    <th> <a href="{{ path('factory_new') }}">{{ 'template.player.production.unit.factory.buy' | trans }}</a></th>
{#                {% endif %}#}
            </tr>
            </thead>
            <tbody>
            {% for factory in userFactories %}
                <tr>
                    <td>{{ factory.name }}</td>
                    <td>{{ factory.turnCreation }}</td>
                    <td></td>
{#                    {% if is_granted('CAN_PRODUCTION') %}#}
                        <td><a href="{{ path('factory_delete', {'id': factory.id}) }}">{{ 'template.player.production.unit.factory.delete' | trans }}</a></td>
                        <td> <a href="{{ path('factory_show', { "id" : factory.id}) }}">{{ 'template.player.production.unit.factory.show' | trans }}</a></td>

                {% if factory.ProductionLign | length >= 10 %}
                            <td>
                                {{ 'template.player.production.unit.factory.full' | trans }}
                            </td>
                        {% else %}
                            <td>
                                <a href="{{ path('production_lign_new', {'id': factory.id}) }}">{{ 'template.player.production.unit.lignprod.buy' | trans }}</a>
                            </td>
                        {% endif %}
{#                    {% endif %}#}


                {%  for productionLign in userProductionLigns %}
                        {% if factory.name == productionLign.factory.name %}
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="1" align="center" class="productionLignColor">{{ productionLign.name }}</td>
{#                                {% if is_granted('CAN_PRODUCTION') %}#}
                                    <td>
                                        <a href="{{ path('production_lign_delete', {'id': productionLign.id}) }}">{{ 'template.player.production.unit.factory.delete' | trans }}</a>
                                    </td>
                                    <td>
                                        <a href="{{ path('production_lign_show', {'id': productionLign.id}) }}">{{ 'template.player.production.unit.factory.show' | trans }}</a>
                                    </td>
{#                                {% endif %}#}
                            </tr>
                        {% endif %}
                    {% else %}
                        <tr>
                            <td colspan="3">{{ 'template.player.production.unit.lignprod.record' | trans }}</td>
                        </tr>
                    {% endfor %}

                </tr>
            {% else %}
                <tr>
                    <td colspan="7">{{ 'template.player.production.unit.factory.record' | trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>

    <section>
        <h1>{{ 'template.player.production.global.h1' | trans }}</h1>
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'template.player.production.global.machine.timehave' | trans }}</th>
                <th>{{ 'template.player.production.global.machine.timeuse' | trans }}</th>
                <th>{{ 'template.player.production.global.machine.percent' | trans }}</th>
            </tr>
            </thead>
            <tbody>

            <tr>
            <td>{{ globalProductionPrint.totalProductionTimeCapacity }}</td>
            <td>{{ globalProductionPrint.totalTimeUse }}</td>
            <td>{{ globalProductionPrint.totalActivity }}</td>
            </tr>
            </tbody>
        </table>
    </section>


    <section>
        <h1>{{ 'template.player.production.dr.h1' | trans }}</h1>
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'template.player.production.dr.product.name' | trans }}</th>
                <th>{{ 'template.player.production.dr.product.time' | trans }}</th>
                <th>{{ 'template.player.production.dr.product.researchdo' | trans }}</th>
                <th>{{ 'template.player.production.dr.product.researchwant' | trans }}</th>
                <th>{{ 'template.player.production.dr.product.research' | trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for product in researchOrderPrint %}
            <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.researchCost }}</td>
            <td>{{ product.researchDo }}</td>
            <td>{{ product.researchOrder }}</td>
            <td>
                    {% if product.researchCost == product.researchDo  %}
                    Recherche Terminée
                    {%  else %}
                        {#                {% if is_granted('CAN_PRODUCTION') %}#}

                        {%  if product.researchOrder == 0 %}
                        <a href="{{ path('reseach_order_new', {'id': product.id}) }}">{{ 'template.player.production.dr.product.research' | trans }}</a>
                        {% else %}
                        <a href="{{ path('reseach_order_edit', {'id': product.researchOrderId}) }}">{{ 'template.player.production.dr.product.editresearch' | trans }}</a>
                        {% endif %}

                    {% endif %}
            </td>

            {#                {% endif %}#}
            <td>
                <a href="{{ path('product_show', {'id': product.id, 'path': 'production'}) }}">{{ 'template.player.production.dr.product.show' | trans }}</a>

            </td>

            </tr>
            {% else %}
            <tr>
            <td colspan="7">{{ 'template.player.production.dr.product.record' | trans }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>

    <section>
        <h1>{{ 'template.player.production.prod.h1' | trans }}</h1>
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'template.player.production.prod.product.name' | trans }}</th>
                <th>{{ 'template.player.production.prod.product.cost' | trans }}</th>
                <th>{{ 'template.player.production.prod.product.time' | trans }}</th>
                <th>{{ 'template.player.production.prod.product.quantity' | trans }}</th>
                <th>{{ 'template.player.production.prod.product.total.cost' | trans }}</th>
                <th>{{ 'template.player.production.prod.product.total.time' | trans }}</th>
                <th>{{ 'template.player.production.prod.product.buy' | trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for product in productionOrderPrint %}
            <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.rowMaterialCost }}</td>
            <td>{{ product.productiorTimeCost }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.rowMaterialTotalCost }}</td>
            <td>{{ product.productiorTimeTotalCost }}</td>
            <td>
{#                {% if is_granted('CAN_PRODUCTION') %}#}

                    {%  if product.quantity == 0 %}
                        <a href="{{ path('production_order_new', {'id': product.id}) }}">{{ 'template.player.production.prod.product.buy' | trans }}</a>
                    {% else %}
                        <a href="{{ path('production_order_edit', {'id': product.researchOrderId}) }}">{{ 'template.player.production.prod.product.edit' | trans }}</a>
                    {% endif %}
{#                {% endif %}#}
            </td>

            </tr>
            {% else %}
            <tr>
            <td colspan="7">{{ 'template.player.production.prod.product.record' | trans }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}
