{% extends 'base.html.twig' %}
{%  dump %}

{% block title %}Hello PlayerController!{% endblock %}

{% block body %}
    <section>
        <h1>Publicité produit</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Produit</th>
                <th>Cycle de vie</th>
                <th>Montant N-1</th>
                <th>Montant N</th>
                <th>Variation</th>
                <th>ratio Pub/CA N-1</th>
                <th>commande</th>
            </tr>
            </thead>
            <tbody>
            {#{% for product in productPurchasePrint %}#}
                {#<tr>#}
                    {#<td>{{ product.name }}</td>#}
                    {#<td>{{ product.purchasePrice }}</td>#}
                    {#<td>{{ product.quantity }}</td>#}
                    {#<td>{{ product.quantityDiscount }}</td>#}
                    {#<td>#}
                        {#{%  if product.quantity == 0 %}#}
                            {#<a href="{{ path('purchase_order_new', {'id': product.id}) }}">Commander</a>#}
                        {#{% else %}#}
                            {#<a href="{{ path('purchase_order_edit', {'id': product.PurchaseOrderId}) }}">Modifier la commande</a>#}
                        {#{% endif %}#}

                    {#</td>#}

                {#</tr>#}
            {#{% else %}#}
                {#<tr>#}
                    {#<td colspan="7">no records found</td>#}
                {#</tr>#}
            {#{% endfor %}#}
            </tbody>
        </table>
    </section>
    <section>
        <h1>Publicité de manque</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Produit</th>
                <th>Montant N-1</th>
                <th>Montant N</th>
                <th>Variation</th>
                <th>ratio Pub/CA N-1</th>
                <th>commande</th>
            </tr>
            </thead>
            <tbody>
            {#{% for product in productPurchasePrint %}#}
            {#<tr>#}
            {#<td>{{ product.name }}</td>#}
            {#<td>{{ product.purchasePrice }}</td>#}
            {#<td>{{ product.quantity }}</td>#}
            {#<td>{{ product.quantityDiscount }}</td>#}
            {#<td>#}
            {#{%  if product.quantity == 0 %}#}
            {#<a href="{{ path('purchase_order_new', {'id': product.id}) }}">Commander</a>#}
            {#{% else %}#}
            {#<a href="{{ path('purchase_order_edit', {'id': product.PurchaseOrderId}) }}">Modifier la commande</a>#}
            {#{% endif %}#}

            {#</td>#}

            {#</tr>#}
            {#{% else %}#}
            {#<tr>#}
            {#<td colspan="7">no records found</td>#}
            {#</tr>#}
            {#{% endfor %}#}
            </tbody>
        </table>
    </section>
{% endblock %}
