{% extends 'base.html.twig' %}

{% block title %}{{ 'template.player.publicity.title' | trans }}{% endblock %}

{% block body %}
    <section>
        <h1>{{ 'template.player.publicity.pub.h1' | trans }}</h1>
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'template.player.publicity.pub.product.name' | trans }}</th>
                <th>{{ 'template.player.publicity.pub.product.cycle' | trans }}</th>
                <th>{{ 'template.player.publicity.pub.product.pubn' | trans }}</th>
                <th>{{ 'template.player.publicity.pub.product.pubn-1' | trans }}</th>
                <th>{{ 'template.player.publicity.pub.product.variation' | trans }}</th>
                <th>{{ 'template.player.publicity.pub.product.ratio' | trans }}</th>
                <th>{{ 'template.player.publicity.pub.product.buy' | trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for product in productPublicityPrint %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.variationPublicity }}</td>
                    <td>{{ product.publicityTurn }}</td>
                    <td>{{ product.publicityLastTurn }}</td>
                    <td>{{ product.variationPublicity }} %</td>
                    <td>{{ product.percentPublicityLastTurn }} %</td>
                    {% if is_granted('CAN_MARKETING') %}

                    <td>
                        {%  if product.publicityTurn == 0 %}
                            <a href="{{ path('publicity_order_new', {'id': product.id}) }}">{{ 'template.player.publicity.pub.product.buy' | trans }}</a>
                        {% else %}
                            <a href="{{ path('publicity_order_edit', {'id': product.idPublicityOrderTurn}) }}">{{ 'template.player.publicity.pub.product.edit' | trans }}</a>
                        {% endif %}

                    </td>
                    {% endif %}

                </tr>
            {% else %}
                <tr>
                    <td colspan="7">{{ 'template.player.production.pub.product.record' | trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <section>
        {#TODO finish front#}
        <h1>Publicité de marque</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Axe de publicité</th>
                <th>Montant N-1</th>
                <th>Montant N</th>
                <th>Variation</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Design</td>
                <td><input type="number" required> </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Ergonomie</td>
                <td><input type="number" required> </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Technicité</td>
                <td><input type="number" required> </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Fonctionnalité</td>
                <td><input type="number" required> </td>
                <td></td>
                <td></td>
            </tr>

            </tbody>
        </table>
        <button>Valider</button>
    </section>
    <section>
        <h1>Circuit de distribution</h1>
        <tr>
            <td>Professionnal</td>
            <td><input type="number" required> </td>
            <td>Particulier</td>
            <td><input type="number" required> </td>
            <td><button>Valider</button></td>

        </tr>

    </section>
{% endblock %}
