{% extends 'base.html.twig' %}

{% block title %}{{  'tenplate.player.sales.title' | trans }}{% endblock %}

{% block body %}
    <section>
        <h1>{{  'tenplate.player.sales.purchase.h1' | trans }}</h1>
        <table class="table">
            <thead>
            <tr>
                <th>{{  'tenplate.player.sales.purchase.product.name' | trans }}</th>
                <th>{{  'tenplate.player.sales.purchase.product.price' | trans }}Prix moyen</th>
                <th>{{  'tenplate.player.sales.purchase.product.quantity' | trans }}Quantité acheté</th>
                <th>{{  'tenplate.player.sales.purchase.product.promo' | trans }}Volume minimum pour remise</th>
                <th>{{  'tenplate.player.sales.purchase.product.buy' | trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for product in productPurchasePrint %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.purchasePrice }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.quantityDiscount }}</td>
{#                    {% if is_granted('CAN_COMMERCIAL') %}#}
                        <td>
                            {%  if product.quantity == 0 %}
                                <a href="{{ path('purchase_order_new', {'id': product.id}) }}">{{  'tenplate.player.sales.purchase.product.buy' | trans }}</a>
                            {% else %}
                                <a href="{{ path('purchase_order_edit', {'id': product.PurchaseOrderId}) }}">{{  'tenplate.player.sales.purchase.product.edit' | trans }}</a>
                            {% endif %}
                        </td>
                        <td>
                        <td>
                            <a href="{{ path('product_show', {'id': product.id, 'path' : 'sales'}) }}">{{  'tenplate.player.sales.purchase.product.show' | trans }}</a>

                        </td>
                        </td>
{#                    {% endif %}#}

                </tr>
            {% else %}
                <tr>
                    <td colspan="7">{{  'tenplate.player.sales.purchase.product.record' | trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>

    <section>
        <h1>Sales</h1>
        <table class="table">
            <thead>
            <tr>
                <th>{{  'tenplate.player.sales.sales.product.name' | trans }}</th>
                <th>{{  'tenplate.player.sales.sales.product.price' | trans }}</th>
                <th>{{  'tenplate.player.sales.sales.product.stock' | trans }}</th>
                <th>{{  'tenplate.player.sales.sales.product.cost' | trans }}</th>
                <th>{{  'tenplate.player.sales.sales.product.quantitypart' | trans }}</th>
                <th>{{  'tenplate.player.sales.sales.product.quantitypro' | trans }}</th>
                <th>{{  'tenplate.player.sales.sales.product.cycle' | trans }}</th>
                <th>{{  'tenplate.player.sales.sales.product.sell' | trans }}</th>


            </tr>
            </thead>
            <tbody>
            {% for product in productSalesPrint %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.salesPrice }}</td>
                    <td>{{ product.stock }}</td>
                    <td>{{ product.purchaseCost }}</td>
                    <td>{{ product.quantityParticular }}</td>
                    <td>{{ product.quantityProfessional }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>
                        {%  if product.quantity == 0 %}
                            <a href="{{ path('sales_order_new', {'id': product.id}) }}">{{  'tenplate.player.sales.sales.product.sell' | trans }}</a>
                        {% else %}
                            <a href="{{ path('sales_order_edit', {'id': product.SalesOrderId}) }}">{{  'tenplate.player.sales.sales.product.edit' | trans }}</a>
                        {% endif %}

                    </td>

                </tr>
            {% else %}
                <tr>
                    <td colspan="7">{{  'tenplate.player.sales.sales.product.record' | trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}
