{% extends 'base.html.twig' %}

{% block title %}Hello PlayerController!{% endblock %}

{% block body %}
    <section>
        <h1>Purchase</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Produit</th>
                <th>Prix moyen</th>
                <th>Quantité acheté</th>
                <th>Volume minimum pour remise</th>
                <th>commande</th>
            </tr>
            </thead>
            <tbody>
            {% for product in productPurchasePrint %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.purchasePrice }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.quantityDiscount }}</td>
{#                    {% if is_granted('CAN_COMMERCIAL') %}#}
                        <td>
                            {%  if product.quantity == 0 %}
                                <a href="{{ path('purchase_order_new', {'id': product.id}) }}">Commander</a>
                            {% else %}
                                <a href="{{ path('purchase_order_edit', {'id': product.PurchaseOrderId}) }}">Modifier la commande</a>
                            {% endif %}
                        </td>
                        <td>
                        <td>
                            <a href="{{ path('product_show', {'id': product.id, 'path' : 'sales'}) }}">Détail du produit</a>

                        </td>
                        </td>
{#                    {% endif %}#}

                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>

    <section>
        <h1>Sales</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Produit</th>
                <th>Prix moyen</th>
                <th>Quantité en stock</th>
                <th>Cout achat/Production</th>
                <th>quantité vendu au particulier</th>
                <th>quantité vendu au professionnel</th>
                <th>cycle de vie du produit</th>
                <th>Vente</th>


            </tr>
            </thead>
            <tbody>
            {% for product in productSalesPrint %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.salesPrice }}</td>
                    <td>{{ product.stock }}</td>
                    <td>{{ product.purchaseCost }}</td>
                    <td>{{ product.quantityParticular }}</td>
                    <td>{{ product.quantityProfessional }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>
                        {%  if product.quantity == 0 %}
                            <a href="{{ path('sales_order_new', {'id': product.id}) }}">Commander</a>
                        {% else %}
                            <a href="{{ path('sales_order_edit', {'id': product.SalesOrderId}) }}">Modifier la commande</a>
                        {% endif %}

                    </td>

                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}
