{% extends 'base.html.twig' %}

{% block title %}{{  'template.factory.title' | trans }}{% endblock %}

{% block body %}
    <h1>{{  'template.factory.show.h1' | trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{  'template.factory.show.name' | trans }}</th>
                <td>{{ factory.name }}</td>
            </tr>
            <tr>
                <th>{{  'template.factory.show.turn' | trans }}</th>
                <td>{{ factory.turnCreation }}</td>
            </tr>
           <tr>
                <th>{{  'template.factory.show.maintenanceCost' | trans }}</th>
                <td>{{ factory.maintenanceCost }}</td>
            </tr>
            <tr>
                <th>{{  'template.factory.show.adminCost' | trans }}</th>
                <td>{{ factory.administrationCost }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('player_production') }}">{{ 'template.back.production' | trans }}</a>

    {{ include('factory/_delete_form.html.twig') }}
{% endblock %}
