{% extends 'base.html.twig' %}

{% block title %}ProductionLign index{% endblock %}

{% block body %}
    <h1>ProductionLign index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TurnCreation</th>
                <th>CreationCost</th>
                <th>MaintenanceCost</th>
                <th>AdministrationCost</th>
                <th>AmortizationTurn</th>
                <th>AnnualProductTime</th>
                <th>TotalLifeProductTime</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for production_lign in production_ligns %}
            <tr>
                <td>{{ production_lign.id }}</td>
                <td>{{ production_lign.turnCreation }}</td>
                <td>{{ production_lign.creationCost }}</td>
                <td>{{ production_lign.maintenanceCost }}</td>
                <td>{{ production_lign.administrationCost }}</td>
                <td>{{ production_lign.amortizationTurn }}</td>
                <td>{{ production_lign.annualProductTime }}</td>
                <td>{{ production_lign.totalLifeProductTime }}</td>
                <td>
                    <a href="{{ path('production_lign_show', {'id': production_lign.id}) }}">show</a>
                    <a href="{{ path('production_lign_edit', {'id': production_lign.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('production_lign_new') }}">Create new</a>
{% endblock %}
