{% extends 'base.html.twig' %}

{% block title %}{{ 'template.productionlign.title' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'template.productionlign.h1' | trans }}</h1>

    {{ include('production_lign/_form.html.twig') }}

    <a href="{{ path('player_production') }}">{{ 'template.back.production' | trans }}</a>
{% endblock %}
