{% extends 'base.html.twig' %}

{% block title %}{{ 'template.productionlign.title' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'template.productionlign.show.h1' | trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'template.productionlign.show.name' | trans }}</th>
                <td>{{ production_lign.name }}</td>
            </tr>
            <tr>
                <th>{{ 'template.productionlign.show.turn' | trans }}</th>
                <td>{{ production_lign.turnCreation }}</td>
            </tr>
            <tr>
                <th>{{ 'template.productionlign.show.maintenanceCost' | trans }}</th>
                <td>{{ production_lign.maintenanceCost }}</td>
            </tr>
            <tr>
                <th>{{ 'template.productionlign.show.adminCost' | trans }}</th>
                <td>{{ production_lign.administrationCost }}</td>
            </tr>
            <tr>
                <th>{{ 'template.productionlign.show.annualtime' | trans }}</th>
                <td>{{ production_lign.annualProductTime }}</td>
            </tr>
            <tr>
                <th>{{ 'template.productionlign.show.totaltime' | trans }}</th>
                <td>{{ production_lign.totalLifeProductTime }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('player_production') }}">{{ 'template.back.production' | trans }}</a>

    {{ include('production_lign/_delete_form.html.twig') }}
{% endblock %}
