{% dump %}

{{ form_start(form) }}
    {{ form_row(form.name) }}

    <h2>Players</h2>
    <ul class="users"  data-prototype-user="{{ form_row(form.users.vars.prototype)|e('html_attr') }}">
    </ul>
{{ form_end(form) }}

{%  block javascripts %}
    {{ encore_entry_script_tags('app') }}

    {{ encore_entry_script_tags('form') }}
{% endblock %}
