
{% block body %}
    <h1>SalesManProfessional index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Salary</th>
                <th>Formation</th>
                <th>Exprience</th>
                <th>Commission</th>
                <th>SalesActivity</th>
                <th>SalesActivityProfessional</th>
            </tr>
        </thead>
        <tbody>
        {% for sales_man_professional in sales_man_professionals %}
            <tr>
                <td>{{ sales_man_professional.salary }}</td>
                <td>{{ sales_man_professional.formation }}</td>
                <td>{{ sales_man_professional.exprience }}</td>
                <td>{{ sales_man_professional.commission }}</td>
                <td>{{ sales_man_professional.salesActivity }}</td>
                <td>{{ sales_man_professional.salesActivityProfessional }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
