{% extends 'base.html.twig' %}

{% block title %}SalesManProfessional{% endblock %}

{% block body %}
    <h1>SalesManProfessional</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sales_man_professional.id }}</td>
            </tr>
            <tr>
                <th>Salary</th>
                <td>{{ sales_man_professional.salary }}</td>
            </tr>
            <tr>
                <th>Formation</th>
                <td>{{ sales_man_professional.formation }}</td>
            </tr>
            <tr>
                <th>Exprience</th>
                <td>{{ sales_man_professional.exprience }}</td>
            </tr>
            <tr>
                <th>Productivity</th>
                <td>{{ sales_man_professional.productivity }}</td>
            </tr>
            <tr>
                <th>AdministrationActivityCost</th>
                <td>{{ sales_man_professional.administrationActivityCost }}</td>
            </tr>
            <tr>
                <th>CoeficientSalary</th>
                <td>{{ sales_man_professional.coeficientSalary }}</td>
            </tr>
            <tr>
                <th>Commission</th>
                <td>{{ sales_man_professional.commission }}</td>
            </tr>
            <tr>
                <th>SalesActivity</th>
                <td>{{ sales_man_professional.salesActivity }}</td>
            </tr>
            <tr>
                <th>SalesActivityProfessional</th>
                <td>{{ sales_man_professional.salesActivityProfessional }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('sales_man_professional_index') }}">back to list</a>

    <a href="{{ path('sales_man_professional_edit', {'id': sales_man_professional.id}) }}">edit</a>

    {{ include('sales_man_professional/_delete_form.html.twig') }}
{% endblock %}
