{% extends 'base.html.twig' %}

{% block title %}{{ 'template.order.production.title' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'template.order.production.edit.h1' | trans }}</h1>

    {{ include('production_order/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('player_production') }}">{{ 'template.back.production' | trans }}</a>

    {{ include('production_order/_delete_form.html.twig') }}
{% endblock %}
