{% extends 'base.html.twig' %}

{% block title %}ProductionOrder index{% endblock %}

{% block body %}
    <h1>ProductionOrder index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Turn</th>
                <th>Status</th>
                <th>QuantityProductCreat</th>
                <th>ProductionActivityCost</th>
                <th>AdministrationActivityCost</th>
                <th>ProductionTime</th>
                <th>RowMaterialCost</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for production_order in production_orders %}
            <tr>
                <td>{{ production_order.id }}</td>
                <td>{{ production_order.turn }}</td>
                <td>{{ production_order.status }}</td>
                <td>{{ production_order.quantityProductCreat }}</td>
                <td>{{ production_order.productionActivityCost }}</td>
                <td>{{ production_order.administrationActivityCost }}</td>
                <td>{{ production_order.productionTime }}</td>
                <td>{{ production_order.rowMaterialCost }}</td>
                <td>
                    <a href="{{ path('production_order_show', {'id': production_order.id}) }}">show</a>
                    <a href="{{ path('production_order_edit', {'id': production_order.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('production_order_new') }}">Create new</a>
{% endblock %}
