{% extends 'base.html.twig' %}

{% block title %}ProductionOrder{% endblock %}

{% block body %}
    <h1>ProductionOrder</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ production_order.id }}</td>
            </tr>
            <tr>
                <th>Turn</th>
                <td>{{ production_order.turn }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ production_order.status }}</td>
            </tr>
            <tr>
                <th>QuantityProductCreat</th>
                <td>{{ production_order.quantityProductCreat }}</td>
            </tr>
            <tr>
                <th>ProductionActivityCost</th>
                <td>{{ production_order.productionActivityCost }}</td>
            </tr>
            <tr>
                <th>AdministrationActivityCost</th>
                <td>{{ production_order.administrationActivityCost }}</td>
            </tr>
            <tr>
                <th>ProductionTime</th>
                <td>{{ production_order.productionTime }}</td>
            </tr>
            <tr>
                <th>RowMaterialCost</th>
                <td>{{ production_order.rowMaterialCost }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('production_order_index') }}">back to list</a>

    <a href="{{ path('production_order_edit', {'id': production_order.id}) }}">edit</a>

    {{ include('production_order/_delete_form.html.twig') }}
{% endblock %}
