{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}
    <h1>Game</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ game.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ game.name }}</td>
            </tr>
            <tr>
                <th>Tva</th>
                <td>{{ game.tva }}</td>
            </tr>
            <tr>
                <th>Maxturn</th>
                <td>{{ game.maxturn }}</td>
            </tr>
            <tr>
                <th>Turn</th>
                <td>{{ game.turn }}</td>
            </tr>
            <tr>
                <th>SocityNumber</th>
                <td>{{ game.socityNumber }}</td>
            </tr>
            <tr>
                <th>Smic</th>
                <td>{{ game.smic }}</td>
            </tr>
            <tr>
                <th>CreatAt</th>
                <td>{{ game.creatAt ? game.creatAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>SalesPriceMinLvl1</th>
                <td>{{ game.salesPriceMinLvl1 }}</td>
            </tr>
            <tr>
                <th>SalesPriceMinLvl2</th>
                <td>{{ game.salesPriceMinLvl2 }}</td>
            </tr>
            <tr>
                <th>SalesPriceMinLvl3</th>
                <td>{{ game.salesPriceMinLvl3 }}</td>
            </tr>
            <tr>
                <th>SalesPriceMinLvl4</th>
                <td>{{ game.salesPriceMinLvl4 }}</td>
            </tr>
            <tr>
                <th>SalesPriceMaxLvl1</th>
                <td>{{ game.salesPriceMaxLvl1 }}</td>
            </tr>
            <tr>
                <th>SalesPriceMaxLvl2</th>
                <td>{{ game.salesPriceMaxLvl2 }}</td>
            </tr>
            <tr>
                <th>SalesPriceMaxLvl3</th>
                <td>{{ game.salesPriceMaxLvl3 }}</td>
            </tr>
            <tr>
                <th>SalesPriceMaxLvl4</th>
                <td>{{ game.salesPriceMaxLvl4 }}</td>
            </tr>
            <tr>
                <th>ProductNumberMinLvl1</th>
                <td>{{ game.productNumberMinLvl1 }}</td>
            </tr>
            <tr>
                <th>ProductNumberMinLvl2</th>
                <td>{{ game.productNumberMinLvl2 }}</td>
            </tr>
            <tr>
                <th>ProductNumberMinLvl3</th>
                <td>{{ game.productNumberMinLvl3 }}</td>
            </tr>
            <tr>
                <th>ProductNumberMinLvl4</th>
                <td>{{ game.productNumberMinLvl4 }}</td>
            </tr>
            <tr>
                <th>ProductNumberMaxLvl1</th>
                <td>{{ game.productNumberMaxLvl1 }}</td>
            </tr>
            <tr>
                <th>ProductNumberMaxLvl2</th>
                <td>{{ game.productNumberMaxLvl2 }}</td>
            </tr>
            <tr>
                <th>ProductNumberMaxLvl3</th>
                <td>{{ game.productNumberMaxLvl3 }}</td>
            </tr>
            <tr>
                <th>ProductNumberMaxLvl4</th>
                <td>{{ game.productNumberMaxLvl4 }}</td>
            </tr>
            <tr>
                <th>PercentProductAvailableMinCycleLife1</th>
                <td>{{ game.percentProductAvailableMinCycleLife1 }}</td>
            </tr>
            <tr>
                <th>PercentProductAvailableMinCycleLife2</th>
                <td>{{ game.percentProductAvailableMinCycleLife2 }}</td>
            </tr>
            <tr>
                <th>PercentProductAvailableMinCycleLife3</th>
                <td>{{ game.percentProductAvailableMinCycleLife3 }}</td>
            </tr>
            <tr>
                <th>PercentProductAvailableMinCycleLife4</th>
                <td>{{ game.percentProductAvailableMinCycleLife4 }}</td>
            </tr>
            <tr>
                <th>PercentProductAvailableMaxCycleLife1</th>
                <td>{{ game.percentProductAvailableMaxCycleLife1 }}</td>
            </tr>
            <tr>
                <th>PercentProductAvailableMaxCycleLife2</th>
                <td>{{ game.percentProductAvailableMaxCycleLife2 }}</td>
            </tr>
            <tr>
                <th>PercentProductAvailableMaxCycleLife3</th>
                <td>{{ game.percentProductAvailableMaxCycleLife3 }}</td>
            </tr>
            <tr>
                <th>PercentProductAvailableMaxCycleLife4</th>
                <td>{{ game.percentProductAvailableMaxCycleLife4 }}</td>
            </tr>
            <tr>
                <th>ProductQualityMinCycleLife1</th>
                <td>{{ game.productQualityMinCycleLife1 }}</td>
            </tr>
            <tr>
                <th>ProductQualityMinCycleLife2</th>
                <td>{{ game.productQualityMinCycleLife2 }}</td>
            </tr>
            <tr>
                <th>ProductQualityMinCycleLife3</th>
                <td>{{ game.productQualityMinCycleLife3 }}</td>
            </tr>
            <tr>
                <th>ProductQualityMinCycleLife4</th>
                <td>{{ game.productQualityMinCycleLife4 }}</td>
            </tr>
            <tr>
                <th>ProductQualityMaxCycleLife1</th>
                <td>{{ game.productQualityMaxCycleLife1 }}</td>
            </tr>
            <tr>
                <th>ProductQualityMaxCycleLife2</th>
                <td>{{ game.productQualityMaxCycleLife2 }}</td>
            </tr>
            <tr>
                <th>ProductQualityMaxCycleLife3</th>
                <td>{{ game.productQualityMaxCycleLife3 }}</td>
            </tr>
            <tr>
                <th>ProductQualityMaxCycleLife4</th>
                <td>{{ game.productQualityMaxCycleLife4 }}</td>
            </tr>
            <tr>
                <th>TaxTurnover</th>
                <td>{{ game.taxTurnover }}</td>
            </tr>
            <tr>
                <th>EmployerContributions</th>
                <td>{{ game.employerContributions }}</td>
            </tr>
            <tr>
                <th>PayTax</th>
                <td>{{ game.payTax }}</td>
            </tr>
            <tr>
                <th>VariableExternalCharges</th>
                <td>{{ game.variableExternalCharges }}</td>
            </tr>
            <tr>
                <th>RowMaterialCost</th>
                <td>{{ game.rowMaterialCost }}</td>
            </tr>
            <tr>
                <th>RawMaterialMin</th>
                <td>{{ game.rawMaterialMin }}</td>
            </tr>
            <tr>
                <th>RawMaterialMax</th>
                <td>{{ game.rawMaterialMax }}</td>
            </tr>
            <tr>
                <th>ManPowerMin</th>
                <td>{{ game.manPowerMin }}</td>
            </tr>
            <tr>
                <th>ManPowerMax</th>
                <td>{{ game.manPowerMax }}</td>
            </tr>
            <tr>
                <th>ProductionTimeMin</th>
                <td>{{ game.productionTimeMin }}</td>
            </tr>
            <tr>
                <th>ProductionTimeMax</th>
                <td>{{ game.productionTimeMax }}</td>
            </tr>
            <tr>
                <th>TaxRate</th>
                <td>{{ game.taxRate }}</td>
            </tr>
            <tr>
                <th>EmployeeParticipation</th>
                <td>{{ game.employeeParticipation }}</td>
            </tr>
            <tr>
                <th>SocityStartShareCapital</th>
                <td>{{ game.socityStartShareCapital }}</td>
            </tr>
            <tr>
                <th>SocityStartLoanAmount</th>
                <td>{{ game.socityStartLoanAmount }}</td>
            </tr>
            <tr>
                <th>SocityStartLoanDuration</th>
                <td>{{ game.socityStartLoanDuration }}</td>
            </tr>
            <tr>
                <th>SocityStartLoanInterestRate</th>
                <td>{{ game.socityStartLoanInterestRate }}</td>
            </tr>
            <tr>
                <th>AnnualHoursWork</th>
                <td>{{ game.annualHoursWork }}</td>
            </tr>
            <tr>
                <th>FactoryCreationCost</th>
                <td>{{ game.factoryCreationCost }}</td>
            </tr>
            <tr>
                <th>FactoryMaintenanceCost</th>
                <td>{{ game.factoryMaintenanceCost }}</td>
            </tr>
            <tr>
                <th>FactoryAdministrationCost</th>
                <td>{{ game.factoryAdministrationCost }}</td>
            </tr>
            <tr>
                <th>FactoryAmortizationTurn</th>
                <td>{{ game.factoryAmortizationTurn }}</td>
            </tr>
            <tr>
                <th>ProductionLignCreationCost</th>
                <td>{{ game.productionLignCreationCost }}</td>
            </tr>
            <tr>
                <th>ProductionLignMaintenanceCost</th>
                <td>{{ game.productionLignMaintenanceCost }}</td>
            </tr>
            <tr>
                <th>ProductionLignAdministrationCost</th>
                <td>{{ game.productionLignAdministrationCost }}</td>
            </tr>
            <tr>
                <th>ProductionLignAmortizationTurn</th>
                <td>{{ game.productionLignAmortizationTurn }}</td>
            </tr>
            <tr>
                <th>ProductionLignAnnualProductTime</th>
                <td>{{ game.productionLignAnnualProductTime }}</td>
            </tr>
            <tr>
                <th>ProductionLignTotalLifeProductTime</th>
                <td>{{ game.productionLignTotalLifeProductTime }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('game_index') }}">back to list</a>

    <a href="{{ path('game_edit', {'id': game.id}) }}">edit</a>

    {{ include('game/_delete_form.html.twig') }}
{% endblock %}
