{% extends 'base.html.twig' %}

{% block title %}{{ 'template.product.title' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'template.product.h1' | trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'template.product.name' | trans }}</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>{{ 'template.product.tech' | trans }}</th>
                <td>{{ product.technologicLevel }}</td>
            </tr>
            <tr>
                <th>{{ 'template.product.buy' | trans }}</th>
                <td>{{ product.buyPrice }}</td>
            </tr>
            <tr>
                <th>{{ 'template.product.sales' | trans }}</th>
                <td>{{ product.salePrice }}</td>
            </tr>
            <tr>
                <th>{{ 'template.product.quantity' | trans }}</th>
                <td>{{ product.quantityDiscount }}</td>
            </tr>
            <tr>
                <th>{{ 'template.product.research' | trans }}</th>
                <td>{{ product.researchCost }}</td>
            </tr>
            {% if path == "production" %}
            <tr>
                <th>{{ 'template.product.row' | trans }}</th>
                <td>{{ product.rowMaterialCost }}</td>
            </tr>
            <tr>
                <th>{{ 'template.product.manpower' | trans }}</th>
                <td>{{ product.manpowerCost }}</td>
            </tr>
            <tr>
                <th>{{ 'template.product.prodtime' | trans }}</th>
                <td>{{ product.productiorTimeCost }}</td>
            </tr>
            {% endif %}
        {%  dump %}
        </tbody>
    </table>
    {% if path == "production" %}
    <a href="{{ path('player_production') }}">{{ 'template.back.production' | trans }}</a>
    {% else %}
    <a href="{{ path('player_sales') }}">{{ 'template.back.sales' | trans }}</a>
    {% endif %}

{% endblock %}
