{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1>Product</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>TechnologicLevel</th>
                <td>{{ product.technologicLevel }}</td>
            </tr>
            <tr>
                <th>BuyPrice</th>
                <td>{{ product.buyPrice }}</td>
            </tr>
            <tr>
                <th>SalePrice</th>
                <td>{{ product.salePrice }}</td>
            </tr>
            <tr>
                <th>QuantityDiscount</th>
                <td>{{ product.quantityDiscount }}</td>
            </tr>
            <tr>
                <th>ProductionActivityCost</th>
                <td>{{ product.productionActivityCost }}</td>
            </tr>
            <tr>
                <th>ResearchCost</th>
                <td>{{ product.researchCost }}</td>
            </tr>
            <tr>
                <th>ProductSaleType</th>
                <td>{{ product.productSaleType }}</td>
            </tr>
            <tr>
                <th>ProductMaxNumber</th>
                <td>{{ product.ProductMaxNumber }}</td>
            </tr>
            <tr>
                <th>PriceDiscount</th>
                <td>{{ product.priceDiscount }}</td>
            </tr>
            <tr>
                <th>ProductAlreadySales</th>
                <td>{{ product.productAlreadySales }}</td>
            </tr>
            <tr>
                <th>RowMaterialCost</th>
                <td>{{ product.rowMaterialCost }}</td>
            </tr>
            <tr>
                <th>ManpowerCost</th>
                <td>{{ product.manpowerCost }}</td>
            </tr>
            <tr>
                <th>ProductiorTimeCost</th>
                <td>{{ product.productiorTimeCost }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('product_index') }}">back to list</a>

    <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
