{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1>Product</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>TechnologicLevel</th>
                <td>{{ product.technologicLevel }}</td>
            </tr>
            <tr>
                <th>BuyPrice</th>
                <td>{{ product.buyPrice }}</td>
            </tr>
            <tr>
                <th>SalePrice</th>
                <td>{{ product.salePrice }}</td>
            </tr>
            <tr>
                <th>QuantityDiscount</th>
                <td>{{ product.quantityDiscount }}</td>
            </tr>
            <tr>
                <th>ResearchCost</th>
                <td>{{ product.researchCost }}</td>
            </tr>
            {% if path == "production" %}
            <tr>
                <th>RowMaterialCost</th>
                <td>{{ product.rowMaterialCost }}</td>
            </tr>
            <tr>
                <th>ManpowerCost</th>
                <td>{{ product.manpowerCost }}</td>
            </tr>
            <tr>
                <th>ProductiorTimeCost</th>
                <td>{{ product.productiorTimeCost }}</td>
            </tr>
            {% endif %}
        {%  dump %}
        </tbody>
    </table>
    {% if path == "production" %}
    <a href="{{ path('player_production') }}">back to list</a>
    {% else %}
    <a href="{{ path('player_sales') }}">back to list</a>
    {% endif %}

{% endblock %}
