{% extends 'base.html.twig' %}

{% block title %}{{ 'template.order.purchase.title' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'template.order.purchase.edit.new' | trans }}</h1>

    {{ include('purchase_order/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('player_sales') }}">{{ 'template.back.sales' | trans }}</a>

    {{ include('purchase_order/_delete_form.html.twig') }}
{% endblock %}
