{% extends 'base.html.twig' %}

{% block title %}PurchaseOrder{% endblock %}

{% block body %}
    <h1>PurchaseOrder</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Turn</th>
                <td>{{ purchase_order.turn }}</td>
            </tr>
            <tr>
                <th>ProductQuantityPurchase</th>
                <td>{{ purchase_order.productQuantityPurchase }}</td>
            </tr>
            <tr>
                <th>PurchasePrice</th>
                <td>{{ purchase_order.purchasePrice }}</td>
            </tr>
            <tr>
                <th>PurchaseActivityCost</th>
                <td>{{ purchase_order.purchaseActivityCost }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ purchase_order.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('player_sales') }}">back to list</a>

{% endblock %}
