{#{% extends 'base.html.twig' %}#}

{#{% block title %}ProductionDirector index{% endblock %}#}

{% block body %}
    <h1>ProductionDirector index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Salary</th>
                <th>Formation</th>
                <th>Exprience</th>
                <th>ProductionActivity</th>
                <th>AdministrationActivity</th>
            </tr>
        </thead>
        <tbody>
        {% for production_director in production_directors %}
            <tr>
                <td>{{ production_director.salary }}</td>
                <td>{{ production_director.formation }}</td>
                <td>{{ production_director.exprience }}</td>
                <td>{{ production_director.productionActivity }}</td>
                <td>{{ production_director.administrationActivity }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
