{% extends 'base.html.twig' %}

{% block title %}{{ 'template.recrutment.title' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'template.recrutment.h1' | trans }} {{ people }} </h1>

    {{ include('recrutment/_form.html.twig') }}

    <a href="{{ path('player_human_ressourcies') }}">{{ 'template.back.rh' | trans }}</a>
{% endblock %}
