{% extends 'base.html.twig' %}

{% block title %}Researcher{% endblock %}

{% block body %}
    <h1>Researcher</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ researcher.id }}</td>
            </tr>
            <tr>
                <th>Salary</th>
                <td>{{ researcher.salary }}</td>
            </tr>
            <tr>
                <th>Formation</th>
                <td>{{ researcher.formation }}</td>
            </tr>
            <tr>
                <th>Exprience</th>
                <td>{{ researcher.exprience }}</td>
            </tr>
            <tr>
                <th>Productivity</th>
                <td>{{ researcher.productivity }}</td>
            </tr>
            <tr>
                <th>AdministrationActivityCost</th>
                <td>{{ researcher.administrationActivityCost }}</td>
            </tr>
            <tr>
                <th>CoeficientSalary</th>
                <td>{{ researcher.coeficientSalary }}</td>
            </tr>
            <tr>
                <th>ResearchActivity</th>
                <td>{{ researcher.researchActivity }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('researcher_index') }}">back to list</a>

    <a href="{{ path('researcher_edit', {'id': researcher.id}) }}">edit</a>

    {{ include('researcher/_delete_form.html.twig') }}
{% endblock %}
