{% extends 'base.html.twig' %}
{%  dump %}
{% block title %}Hello CashFlowController!{% endblock %}

{% block body %}

    <TABLE ALIGN="center" BORDER="05">
        <CAPTION> TRÉSORIE </CAPTION>
        <tr>
            <TH colspan="13"><H1>PLAN DE TRÉSORIE ANNÉE N</H1></TH>
        </tr>
        <TR>
            <TD colspan="1"></TD>
            <TD colspan="1">Janvier N</TD>
            <TD colspan="1">Fevrier N</TD>
            <TD colspan="1">MARS N</TD>
            <TD colspan="1">AVRIL N</TD>
            <TD colspan="1">MAI N</TD>
            <TD colspan="1">JUIN N</TD>
            <TD colspan="1">JUILLET N</TD>
            <TD colspan="1">AOÛT N</TD>
            <TD colspan="1">SEPTEMBRE N</TD>
            <TD colspan="1">OCTOBRE N</TD>
            <TD colspan="1">NOVENBRE N</TD>
            <TD colspan="1">DECEMBRE N</TD>
        </TR>
        <TR>
            <TH colspan="13" align="center" class="col-titre-tresorie">ENCAISSEMENTS</TH>
        </TR>
        <TR>
            <TH colspan="13" align="center" class="col-titre-2-tresorie">Exploitation</TH>
        </TR>
        <TR>
            <TH colspan="1">Encaissement Ventes </TH>
            <TD colspan="1">{{ cashingSales.january }}</TD>
            <TD colspan="1">{{ cashingSales.february }}</TD>
            <TD colspan="1">{{ cashingSales.march }}</TD>
            <TD colspan="1">{{ cashingSales.april }}</TD>
            <TD colspan="1">{{ cashingSales.may }}</TD>
            <TD colspan="1">{{ cashingSales.june }}</TD>
            <TD colspan="1">{{ cashingSales.july }}</TD>
            <TD colspan="1">{{ cashingSales.august }}</TD>
            <TD colspan="1">{{ cashingSales.september }}</TD>
            <TD colspan="1">{{ cashingSales.october }}</TD>
            <TD colspan="1">{{ cashingSales.november }}</TD>
            <TD colspan="1">{{ cashingSales.december }}</TD>
        </TR>
        <TR>
            <TH colspan="13" align="center" class="col-titre-2-tresorie">Hors Exploitation</TH>
        </TR>
        <TR>
            <TH colspan="1">Apport en capital </TH>
            <TD colspan="1">{{ capitalContribution.january }}</TD>
            <TD colspan="1">{{ capitalContribution.february }}</TD>
            <TD colspan="1">{{ capitalContribution.march }}</TD>
            <TD colspan="1">{{ capitalContribution.april }}</TD>
            <TD colspan="1">{{ capitalContribution.may }}</TD>
            <TD colspan="1">{{ capitalContribution.june }}</TD>
            <TD colspan="1">{{ capitalContribution.july }}</TD>
            <TD colspan="1">{{ capitalContribution.august }}</TD>
            <TD colspan="1">{{ capitalContribution.september }}</TD>
            <TD colspan="1">{{ capitalContribution.october }}</TD>
            <TD colspan="1">{{ capitalContribution.november }}</TD>
            <TD colspan="1">{{ capitalContribution.december }}</TD>
        </TR>
        <TR>
            <TH colspan="1">Emprunts à moyen et long terme </TH>
            <TD colspan="1">{{ mediumAndLongLoan.january }}</TD>
            <TD colspan="1">{{ mediumAndLongLoan.february }}</TD>
            <TD colspan="1">{{ mediumAndLongLoan.march }}</TD>
            <TD colspan="1">{{ mediumAndLongLoan.april }}</TD>
            <TD colspan="1">{{ mediumAndLongLoan.may }}</TD>
            <TD colspan="1">{{ mediumAndLongLoan.june }}</TD>
            <TD colspan="1">{{ mediumAndLongLoan.july }}</TD>
            <TD colspan="1">{{ mediumAndLongLoan.august }}</TD>
            <TD colspan="1">{{ mediumAndLongLoan.september }}</TD>
            <TD colspan="1">{{ mediumAndLongLoan.october }}</TD>
            <TD colspan="1">{{ mediumAndLongLoan.november }}</TD>
            <TD colspan="1">{{ mediumAndLongLoan.december }}</TD>
        </TR>
        <TR>
            <TH colspan="1">credit de TVA</TH>
            <TD colspan="1">{{ creditTVA.january }}</TD>
            <TD colspan="1">{{ creditTVA.february }}</TD>
            <TD colspan="1">{{ creditTVA.march }}</TD>
            <TD colspan="1">{{ creditTVA.april }}</TD>
            <TD colspan="1">{{ creditTVA.may }}</TD>
            <TD colspan="1">{{ creditTVA.june }}</TD>
            <TD colspan="1">{{ creditTVA.july }}</TD>
            <TD colspan="1">{{ creditTVA.august }}</TD>
            <TD colspan="1">{{ creditTVA.september }}</TD>
            <TD colspan="1">{{ creditTVA.october }}</TD>
            <TD colspan="1">{{ creditTVA.november }}</TD>
            <TD colspan="1">{{ creditTVA.december }}</TD>
        </TR>
        <TR>
            <TH colspan="1">cession d'immobilisation</TH>
            <TD colspan="1">{{ transferOfCapital.january }}</TD>
            <TD colspan="1">{{ transferOfCapital.february }}</TD>
            <TD colspan="1">{{ transferOfCapital.march }}</TD>
            <TD colspan="1">{{ transferOfCapital.april }}</TD>
            <TD colspan="1">{{ transferOfCapital.may }}</TD>
            <TD colspan="1">{{ transferOfCapital.june }}</TD>
            <TD colspan="1">{{ transferOfCapital.july }}</TD>
            <TD colspan="1">{{ transferOfCapital.august }}</TD>
            <TD colspan="1">{{ transferOfCapital.september }}</TD>
            <TD colspan="1">{{ transferOfCapital.october }}</TD>
            <TD colspan="1">{{ transferOfCapital.november }}</TD>
            <TD colspan="1">{{ transferOfCapital.december }}</TD>
        </TR>
        <TR class="resultat">
            <TH colspan="1">A. TOTAL ENCAISSEMENTS</TH>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
        </TR>
        <TR>
            <TH colspan="13" align="center" class="col-titre-tresorie">DÉCAISSEMENTS</TH>
        </TR>
        <TR>
            <TH colspan="13" align="center" class="col-titre-2-tresorie">Exploitation</TH>
        </TR>
        <TR>
            <TH colspan="1">Achats matières</TH>
            <TD colspan="1">{{ monthlyRowMaterialTTCPurchase.january }}</TD>
            <TD colspan="1">{{ monthlyRowMaterialTTCPurchase.february }}</TD>
            <TD colspan="1">{{ monthlyRowMaterialTTCPurchase.march }}</TD>
            <TD colspan="1">{{ monthlyRowMaterialTTCPurchase.april }}</TD>
            <TD colspan="1">{{ monthlyRowMaterialTTCPurchase.may }}</TD>
            <TD colspan="1">{{ monthlyRowMaterialTTCPurchase.june }}</TD>
            <TD colspan="1">{{ monthlyRowMaterialTTCPurchase.july }}</TD>
            <TD colspan="1">{{ monthlyRowMaterialTTCPurchase.august }}</TD>
            <TD colspan="1">{{ monthlyRowMaterialTTCPurchase.september }}</TD>
            <TD colspan="1">{{ monthlyRowMaterialTTCPurchase.october }}</TD>
            <TD colspan="1">{{ monthlyRowMaterialTTCPurchase.november }}</TD>
            <TD colspan="1">{{ monthlyRowMaterialTTCPurchase.december }}</TD>
        </TR>
        <TR>
            <TH colspan="1">Achats de marchandises</TH>
            <TD colspan="1">{{ monthlyMerchandiseTTCPurchase.january }}</TD>
            <TD colspan="1">{{ monthlyMerchandiseTTCPurchase.february }}</TD>
            <TD colspan="1">{{ monthlyMerchandiseTTCPurchase.march }}</TD>
            <TD colspan="1">{{ monthlyMerchandiseTTCPurchase.april }}</TD>
            <TD colspan="1">{{ monthlyMerchandiseTTCPurchase.may }}</TD>
            <TD colspan="1">{{ monthlyMerchandiseTTCPurchase.june }}</TD>
            <TD colspan="1">{{ monthlyMerchandiseTTCPurchase.july }}</TD>
            <TD colspan="1">{{ monthlyMerchandiseTTCPurchase.august }}</TD>
            <TD colspan="1">{{ monthlyMerchandiseTTCPurchase.september }}</TD>
            <TD colspan="1">{{ monthlyMerchandiseTTCPurchase.october }}</TD>
            <TD colspan="1">{{ monthlyMerchandiseTTCPurchase.november }}</TD>
            <TD colspan="1">{{ monthlyMerchandiseTTCPurchase.december }}</TD>
        </TR>
        <TR>
            <TH colspan="1">Charges externes/autres charges externes</TH>
            <TD colspan="1">{{ externalCharges.january }}</TD>
            <TD colspan="1">{{ externalCharges.february }}</TD>
            <TD colspan="1">{{ externalCharges.march }}</TD>
            <TD colspan="1">{{ externalCharges.april }}</TD>
            <TD colspan="1">{{ externalCharges.may }}</TD>
            <TD colspan="1">{{ externalCharges.june }}</TD>
            <TD colspan="1">{{ externalCharges.july }}</TD>
            <TD colspan="1">{{ externalCharges.august }}</TD>
            <TD colspan="1">{{ externalCharges.september }}</TD>
            <TD colspan="1">{{ externalCharges.october }}</TD>
            <TD colspan="1">{{ externalCharges.november }}</TD>
            <TD colspan="1">{{ externalCharges.december }}</TD>
        </TR>
        <TR>
            <TH colspan="1">Impôts et taxes</TH>
            <TD colspan="1">{{ dueAndTaxes.january }}</TD>
            <TD colspan="1">{{ dueAndTaxes.february }}</TD>
            <TD colspan="1">{{ dueAndTaxes.march }}</TD>
            <TD colspan="1">{{ dueAndTaxes.april }}</TD>
            <TD colspan="1">{{ dueAndTaxes.may }}</TD>
            <TD colspan="1">{{ dueAndTaxes.june }}</TD>
            <TD colspan="1">{{ dueAndTaxes.july }}</TD>
            <TD colspan="1">{{ dueAndTaxes.august }}</TD>
            <TD colspan="1">{{ dueAndTaxes.september }}</TD>
            <TD colspan="1">{{ dueAndTaxes.october }}</TD>
            <TD colspan="1">{{ dueAndTaxes.november }}</TD>
            <TD colspan="1">{{ dueAndTaxes.december }}</TD>
        </TR>
        <TR>
            <TH colspan="1">Frais de personnel</TH>
            <TD colspan="1">{{ personnelCostNet.january }}</TD>
            <TD colspan="1">{{ personnelCostNet.february }}</TD>
            <TD colspan="1">{{ personnelCostNet.march }}</TD>
            <TD colspan="1">{{ personnelCostNet.april }}</TD>
            <TD colspan="1">{{ personnelCostNet.may }}</TD>
            <TD colspan="1">{{ personnelCostNet.june }}</TD>
            <TD colspan="1">{{ personnelCostNet.july }}</TD>
            <TD colspan="1">{{ personnelCostNet.august }}</TD>
            <TD colspan="1">{{ personnelCostNet.september }}</TD>
            <TD colspan="1">{{ personnelCostNet.october }}</TD>
            <TD colspan="1">{{ personnelCostNet.november }}</TD>
            <TD colspan="1">{{ personnelCostNet.december }}</TD>
        </TR>
        <TR>
            <TH colspan="1">Charges Sociales</TH>
            <TD colspan="1">{{ socialTaxes.january }}</TD>
            <TD colspan="1">{{ socialTaxes.february }}</TD>
            <TD colspan="1">{{ socialTaxes.march }}</TD>
            <TD colspan="1">{{ socialTaxes.april }}</TD>
            <TD colspan="1">{{ socialTaxes.may }}</TD>
            <TD colspan="1">{{ socialTaxes.june }}</TD>
            <TD colspan="1">{{ socialTaxes.july }}</TD>
            <TD colspan="1">{{ socialTaxes.august }}</TD>
            <TD colspan="1">{{ socialTaxes.september }}</TD>
            <TD colspan="1">{{ socialTaxes.october }}</TD>
            <TD colspan="1">{{ socialTaxes.november }}</TD>
            <TD colspan="1">{{ socialTaxes.december }}</TD>
        </TR>
        <TR>
            <TH colspan="1">Charges financières</TH>
            <TD colspan="1">{{ financialExpenses.january }}</TD>
            <TD colspan="1">{{ financialExpenses.february }}</TD>
            <TD colspan="1">{{ financialExpenses.march }}</TD>
            <TD colspan="1">{{ financialExpenses.april }}</TD>
            <TD colspan="1">{{ financialExpenses.may }}</TD>
            <TD colspan="1">{{ financialExpenses.june }}</TD>
            <TD colspan="1">{{ financialExpenses.july }}</TD>
            <TD colspan="1">{{ financialExpenses.august }}</TD>
            <TD colspan="1">{{ financialExpenses.september }}</TD>
            <TD colspan="1">{{ financialExpenses.october }}</TD>
            <TD colspan="1">{{ financialExpenses.november }}</TD>
            <TD colspan="1">{{ financialExpenses.december }}</TD>
        </TR>
        <TR>
            <TH colspan="1">tva à decaisser</TH>
            <TD colspan="1">{{ dueTVA.january }}</TD>
            <TD colspan="1">{{ dueTVA.february }}</TD>
            <TD colspan="1">{{ dueTVA.march }}</TD>
            <TD colspan="1">{{ dueTVA.april }}</TD>
            <TD colspan="1">{{ dueTVA.may }}</TD>
            <TD colspan="1">{{ dueTVA.june }}</TD>
            <TD colspan="1">{{ dueTVA.july }}</TD>
            <TD colspan="1">{{ dueTVA.august }}</TD>
            <TD colspan="1">{{ dueTVA.september }}</TD>
            <TD colspan="1">{{ dueTVA.october }}</TD>
            <TD colspan="1">{{ dueTVA.november }}</TD>
            <TD colspan="1">{{ dueTVA.december }}</TD>
        </TR>
        <TR>
            <TH colspan="13" align="center" class="col-titre-2-tresorie">Hors Exploitation</TH>
        </TR>
        <TR>
            <TH colspan="1">Investissements incorporels</TH>
            <TD colspan="1">{{ monthlyMerchandiseTTCPurchase.january }}</TD>
            <TD colspan="1">{{ monthlyMerchandiseTTCPurchase.february }}</TD>
            <TD colspan="1">{{ monthlyMerchandiseTTCPurchase.march }}</TD>
            <TD colspan="1">{{ monthlyMerchandiseTTCPurchase.april }}</TD>
            <TD colspan="1">{{ monthlyMerchandiseTTCPurchase.may }}</TD>
            <TD colspan="1">{{ monthlyMerchandiseTTCPurchase.june }}</TD>
            <TD colspan="1">{{ monthlyMerchandiseTTCPurchase.july }}</TD>
            <TD colspan="1">{{ monthlyMerchandiseTTCPurchase.august }}</TD>
            <TD colspan="1">{{ monthlyMerchandiseTTCPurchase.september }}</TD>
            <TD colspan="1">{{ monthlyMerchandiseTTCPurchase.october }}</TD>
            <TD colspan="1">{{ monthlyMerchandiseTTCPurchase.november }}</TD>
            <TD colspan="1">{{ monthlyMerchandiseTTCPurchase.december }}</TD>
        </TR>
        <TR>
            <TH colspan="1">Investissements corporels</TH>
            <TD colspan="1">{{ tangibleInvestments.january }}</TD>
            <TD colspan="1">{{ tangibleInvestments.february }}</TD>
            <TD colspan="1">{{ tangibleInvestments.march }}</TD>
            <TD colspan="1">{{ tangibleInvestments.april }}</TD>
            <TD colspan="1">{{ tangibleInvestments.may }}</TD>
            <TD colspan="1">{{ tangibleInvestments.june }}</TD>
            <TD colspan="1">{{ tangibleInvestments.july }}</TD>
            <TD colspan="1">{{ tangibleInvestments.august }}</TD>
            <TD colspan="1">{{ tangibleInvestments.september }}</TD>
            <TD colspan="1">{{ tangibleInvestments.october }}</TD>
            <TD colspan="1">{{ tangibleInvestments.november }}</TD>
            <TD colspan="1">{{ tangibleInvestments.december }}</TD>
        </TR>
        <TR>
            <TH colspan="1">Remboursement d'emprunts </TH>
            <TD colspan="1">{{ repaymentOfLoan.january }}</TD>
            <TD colspan="1">{{ repaymentOfLoan.february }}</TD>
            <TD colspan="1">{{ repaymentOfLoan.march }}</TD>
            <TD colspan="1">{{ repaymentOfLoan.april }}</TD>
            <TD colspan="1">{{ repaymentOfLoan.may }}</TD>
            <TD colspan="1">{{ repaymentOfLoan.june }}</TD>
            <TD colspan="1">{{ repaymentOfLoan.july }}</TD>
            <TD colspan="1">{{ repaymentOfLoan.august }}</TD>
            <TD colspan="1">{{ repaymentOfLoan.september }}</TD>
            <TD colspan="1">{{ repaymentOfLoan.october }}</TD>
            <TD colspan="1">{{ repaymentOfLoan.november }}</TD>
            <TD colspan="1">{{ repaymentOfLoan.december }}</TD>
        </TR>
        <TR class="resultat">
            <TH colspan="1">B. TOTAL DÉCAISSEMENTS</TH>
            <TD colspan="1">{{ totalDisturb.january }}</TD>
            <TD colspan="1">{{ totalDisturb.february }}</TD>
            <TD colspan="1">{{ totalDisturb.march }}</TD>
            <TD colspan="1">{{ totalDisturb.april }}</TD>
            <TD colspan="1">{{ totalDisturb.may }}</TD>
            <TD colspan="1">{{ totalDisturb.june }}</TD>
            <TD colspan="1">{{ totalDisturb.july }}</TD>
            <TD colspan="1">{{ totalDisturb.august }}</TD>
            <TD colspan="1">{{ totalDisturb.september }}</TD>
            <TD colspan="1">{{ totalDisturb.october }}</TD>
            <TD colspan="1">{{ totalDisturb.november }}</TD>
            <TD colspan="1">{{ totalDisturb.december }}</TD>
        </TR>
        <TR>
            <TH colspan="13" align="center" class="col-titre-tresorie">SOLDES DU MOIS</TH>
        </TR>
        <TR class="resultat">
            <TH colspan="1">A - B</TH>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
        </TR>
        <TR>
            <TH colspan="13" align="center" class="col-titre-tresorie">SOLDES FIN DE MOIS</TH>
        </TR>
        <TR class="resultat">
            <TH colspan="1">2 + 4</TH>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
            <TD colspan="1"></TD>
        </TR>
    </TABLE>
{% endblock %}
