{% block body %}
    <h1>SalesManDirector index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Salary</th>
                <th>Formation</th>
                <th>Exprience</th>
                <th>Commission</th>
                <th>SalesActivity</th>
                <th>AdministrationActivity</th>
            </tr>
        </thead>
        <tbody>
        {% for sales_man_director in sales_man_directors %}
            <tr>
                <td>{{ sales_man_director.salary }}</td>
                <td>{{ sales_man_director.formation }}</td>
                <td>{{ sales_man_director.exprience }}</td>
                <td>{{ sales_man_director.commission }}</td>
                <td>{{ sales_man_director.salesActivity }}</td>
                <td>{{ sales_man_director.administrationActivity }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
