{% block body %}
    <h1>Technician index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Salary</th>
                <th>Formation</th>
                <th>Exprience</th>
                <th>ProductionActivity</th>
                <th>AdministrationActivity</th>
            </tr>
        </thead>
        <tbody>
        {% for technician in technicians %}
            <tr>
                <td>{{ technician.salary }}</td>
                <td>{{ technician.formation }}</td>
                <td>{{ technician.exprience }}</td>
                <td>{{ technician.productionActivity }}</td>
                <td>{{ technician.administrationActivity }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
