{% extends 'base.html.twig' %}

{% block title %}Technician{% endblock %}

{% block body %}
    <h1>Technician</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ technician.id }}</td>
            </tr>
            <tr>
                <th>Salary</th>
                <td>{{ technician.salary }}</td>
            </tr>
            <tr>
                <th>Formation</th>
                <td>{{ technician.formation }}</td>
            </tr>
            <tr>
                <th>Exprience</th>
                <td>{{ technician.exprience }}</td>
            </tr>
            <tr>
                <th>Productivity</th>
                <td>{{ technician.productivity }}</td>
            </tr>
            <tr>
                <th>AdministrationActivityCost</th>
                <td>{{ technician.administrationActivityCost }}</td>
            </tr>
            <tr>
                <th>CoeficientSalary</th>
                <td>{{ technician.coeficientSalary }}</td>
            </tr>
            <tr>
                <th>ProductionActivity</th>
                <td>{{ technician.productionActivity }}</td>
            </tr>
            <tr>
                <th>AdministrationActivity</th>
                <td>{{ technician.administrationActivity }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('technician_index') }}">back to list</a>

    <a href="{{ path('technician_edit', {'id': technician.id}) }}">edit</a>

    {{ include('technician/_delete_form.html.twig') }}
{% endblock %}
