{% extends 'base.html.twig' %}

{% block title %}ReseachOrder index{% endblock %}

{% block body %}
    <h1>ReseachOrder index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ReseachDo</th>
                <th>ResearchActivityCost</th>
                <th>AdministrationActivityCost</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reseach_order in reseach_orders %}
            <tr>
                <td>{{ reseach_order.id }}</td>
                <td>{{ reseach_order.reseachDo }}</td>
                <td>{{ reseach_order.researchActivityCost }}</td>
                <td>{{ reseach_order.administrationActivityCost }}</td>
                <td>
                    <a href="{{ path('reseach_order_show', {'id': reseach_order.id}) }}">show</a>
                    <a href="{{ path('reseach_order_edit', {'id': reseach_order.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reseach_order_new') }}">Create new</a>
{% endblock %}
