{% extends 'base.html.twig' %}

{% block title %}ReseachOrder{% endblock %}

{% block body %}
    <h1>ReseachOrder</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reseach_order.id }}</td>
            </tr>
            <tr>
                <th>ReseachDo</th>
                <td>{{ reseach_order.reseachDo }}</td>
            </tr>
            <tr>
                <th>ResearchActivityCost</th>
                <td>{{ reseach_order.researchActivityCost }}</td>
            </tr>
            <tr>
                <th>AdministrationActivityCost</th>
                <td>{{ reseach_order.administrationActivityCost }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('reseach_order_index') }}">back to list</a>

    <a href="{{ path('reseach_order_edit', {'id': reseach_order.id}) }}">edit</a>

    {{ include('reseach_order/_delete_form.html.twig') }}
{% endblock %}
