{% extends 'base.html.twig' %}

{% block title %}{{  'template.formation.title' | trans }}{% endblock %}

{% block body %}
    <h1>{{  'template.formation.h1' | trans }} {{ people }} </h1>

    {{ include('dismiss/_form.html.twig') }}

    <a href="{{ path('player_human_ressourcies') }}">{{  'template.back.rh' | trans }}</a>
{% endblock %}
