{% extends 'base.html.twig' %}

{% block title %}{{ 'template.loan.title' | trans }}{% endblock %}

{% block body %}
    <h1>{{  'template.loan.edit.h1' | trans }}</h1>

    {{ include('loan/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('player_financial') }}">{{ 'template.back.financial' | trans}}</a>

    {{ include('loan/_delete_form.html.twig') }}
{% endblock %}
