{% block body %}
    {% dump %}
    <table class="table">
        <thead>
            <tr>
                <th>BorrowAmount</th>
                <th>BankInterest</th>
                <th>MonthlyDueDate</th>
                <th>LoanDuration</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for loan in loans %}
            <tr>
                <td>{{ loan.borrowAmount }}</td>
                <td>{{ loan.bankInterest }}</td>
                <td>{{ loan.monthlyDueDate }}</td>
                <td>{{ loan.loanDuration }}</td>
                <td>
                    {% if loan.turn == turn %}
                            <div>
                                <a href="{{ path('loan_edit', {'id': loan.id}) }}">edit</a>
                            </div>
                    {% endif %}
                    <div>
                        <a href="{{ path('loan_show', {'id': loan.id}) }}">show</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
