{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'template.loan.index.borrow' | trans }}</th>
                <th>{{ 'template.loan.index.bankinterest' | trans }}</th>
                <th>{{ 'template.loan.index.monthyduedate' | trans }}</th>
                <th>{{ 'template.loan.index.duration' | trans }}</th>
                <th>{{ 'template.loan.index.action' | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for loan in loans %}
            <tr>
                <td>{{ loan.borrowAmount }}</td>
                <td>{{ loan.bankInterest }}</td>
                <td>{{ loan.monthlyDueDate }}</td>
                <td>{{ loan.loanDuration }}</td>
                <td>
                    {% if is_granted('CAN_FINANCIAL') %}
                    {% if loan.turn == turn %}
                            <div>
                                <a href="{{ path('loan_edit', {'id': loan.id}) }}">{{ 'template.loan.index.edit' | trans }}</a>
                            </div>
                    {% endif %}
                    <div>
                        <a href="{{ path('loan_show', {'id': loan.id}) }}">{{ 'template.loan.index.show' | trans }}</a>
                    </div>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">{{ 'template.loan.index.record' | trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
