{% extends 'base.html.twig' %}

{% block title %}{{ 'template.loan.title' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'template.loan.new.emprunt' | trans }}</h1>

    {{ include('loan/_form.html.twig') }}

    <a href="{{ path('player_financial') }}">{{ 'template.back.financial' | trans }}</a>
{% endblock %}
