{% extends 'base.html.twig' %}

{% block title %}Loan{% endblock %}

{% block body %}
    <h1>Loan</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ loan.id }}</td>
            </tr>
            <tr>
                <th>BorrowAmount</th>
                <td>{{ loan.borrowAmount }}</td>
            </tr>
            <tr>
                <th>BankInterest</th>
                <td>{{ loan.bankInterest }}</td>
            </tr>
            <tr>
                <th>MonthlyDueDate</th>
                <td>{{ loan.monthlyDueDate }}</td>
            </tr>
            <tr>
                <th>LoanDuration</th>
                <td>{{ loan.loanDuration }}</td>
            </tr>
            <tr>
                <th>DelayLoanRepayment</th>
                <td>{{ loan.DelayLoanRepayment }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('loan_index') }}">back to list</a>

    <a href="{{ path('loan_edit', {'id': loan.id}) }}">edit</a>

    {{ include('loan/_delete_form.html.twig') }}
{% endblock %}
