{% extends 'base.html.twig' %}

{% block title %}Loan{% endblock %}

{% block body %}
    <h1>Loan</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>BorrowAmount</th>
                <td>{{ loan.borrowAmount }}</td>
            </tr>
            <tr>
                <th>BankInterest</th>
                <td>{{ loan.bankInterest }}</td>
            </tr>
            <tr>
                <th>MonthlyDueDate</th>
                <td>{{ loan.monthlyDueDate }}</td>
            </tr>
            <tr>
                <th>LoanDuration</th>
                <td>{{ loan.loanDuration }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('player_financial') }}">back to list</a>
{% endblock %}
