{% extends 'base.html.twig' %}

{% block title %}Administration index{% endblock %}

{% block body %}
    <h1>Administration index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Salary</th>
                <th>Formation</th>
                <th>Exprience</th>
                <th>Productivity</th>
            </tr>
        </thead>
        <tbody>
        {% for administration in administrations %}
            <tr>
                <td>{{ administration.salary }}</td>
                <td>{{ administration.formation }}</td>
                <td>{{ administration.exprience }}</td>
                <td>{{ administration.productivity }}</td>
                           </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('player_human_ressourcies') }}">back to list</a>

{% endblock %}
