{% extends 'base.html.twig' %}

{% block title %}Administration index{% endblock %}

{% block body %}
    <h1>Administration index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Salary</th>
                <th>Formation</th>
                <th>Exprience</th>
                <th>Productivity</th>
                <th>AdministrationActivityCost</th>
                <th>CoeficientSalary</th>
                <th>AdministationActivity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for administration in administrations %}
            <tr>
                <td>{{ administration.id }}</td>
                <td>{{ administration.salary }}</td>
                <td>{{ administration.formation }}</td>
                <td>{{ administration.exprience }}</td>
                <td>{{ administration.productivity }}</td>
                <td>{{ administration.administrationActivityCost }}</td>
                <td>{{ administration.coeficientSalary }}</td>
                <td>{{ administration.administationActivity }}</td>
                <td>
                    <a href="{{ path('administration_show', {'id': administration.id}) }}">show</a>
                    <a href="{{ path('administration_edit', {'id': administration.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('administration_new') }}">Create new</a>
{% endblock %}
