{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <h1>Administration</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ administration.id }}</td>
            </tr>
            <tr>
                <th>Salary</th>
                <td>{{ administration.salary }}</td>
            </tr>
            <tr>
                <th>Formation</th>
                <td>{{ administration.formation }}</td>
            </tr>
            <tr>
                <th>Exprience</th>
                <td>{{ administration.exprience }}</td>
            </tr>
            <tr>
                <th>Productivity</th>
                <td>{{ administration.productivity }}</td>
            </tr>
            <tr>
                <th>AdministrationActivityCost</th>
                <td>{{ administration.administrationActivityCost }}</td>
            </tr>
            <tr>
                <th>CoeficientSalary</th>
                <td>{{ administration.coeficientSalary }}</td>
            </tr>
            <tr>
                <th>AdministationActivity</th>
                <td>{{ administration.administationActivity }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('player_human_ressourcies') }}">back to list</a>

    {{ include('administration/_delete_form.html.twig') }}
{% endblock %}
