{% extends 'base.html.twig' %}

{% block title %}PublicityOrder index{% endblock %}

{% block body %}
    <h1>PublicityOrder index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Turn</th>
                <th>PublicityPrice</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for publicity_order in publicity_orders %}
            <tr>
                <td>{{ publicity_order.id }}</td>
                <td>{{ publicity_order.turn }}</td>
                <td>{{ publicity_order.publicityPrice }}</td>
                <td>
                    <a href="{{ path('publicity_order_show', {'id': publicity_order.id}) }}">show</a>
                    <a href="{{ path('publicity_order_edit', {'id': publicity_order.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('publicity_order_new') }}">Create new</a>
{% endblock %}
