{% extends 'base.html.twig' %}

{% block title %}{{ 'template.order.sales.title' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'template.order.publicity.new.h1' | trans }}</h1>

    {{ include('publicity_order/_form.html.twig') }}

    <a href="{{ path('player_publicity') }}">{{ 'template.back.publicity' | trans }}</a>
{% endblock %}
