
{% block body %}
    <h1>SalesManParticular index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Salary</th>
                <th>Formation</th>
                <th>Exprience</th>
                <th>Commission</th>
                <th>SalesActivity</th>
                <th>SalesActivityParticular</th>
            </tr>
        </thead>
        <tbody>
        {% for sales_man_particular in sales_man_particulars %}
            <tr>
                <td>{{ sales_man_particular.salary }}</td>
                <td>{{ sales_man_particular.formation }}</td>
                <td>{{ sales_man_particular.exprience }}</td>
                <td>{{ sales_man_particular.commission }}</td>
                <td>{{ sales_man_particular.salesActivity }}</td>
                <td>{{ sales_man_particular.salesActivityParticular }}</td>
              </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
