{% extends 'base.html.twig' %}

{% block title %}SalesManParticular{% endblock %}

{% block body %}
    <h1>SalesManParticular</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sales_man_particular.id }}</td>
            </tr>
            <tr>
                <th>Salary</th>
                <td>{{ sales_man_particular.salary }}</td>
            </tr>
            <tr>
                <th>Formation</th>
                <td>{{ sales_man_particular.formation }}</td>
            </tr>
            <tr>
                <th>Exprience</th>
                <td>{{ sales_man_particular.exprience }}</td>
            </tr>
            <tr>
                <th>Productivity</th>
                <td>{{ sales_man_particular.productivity }}</td>
            </tr>
            <tr>
                <th>AdministrationActivityCost</th>
                <td>{{ sales_man_particular.administrationActivityCost }}</td>
            </tr>
            <tr>
                <th>CoeficientSalary</th>
                <td>{{ sales_man_particular.coeficientSalary }}</td>
            </tr>
            <tr>
                <th>Commission</th>
                <td>{{ sales_man_particular.commission }}</td>
            </tr>
            <tr>
                <th>SalesActivity</th>
                <td>{{ sales_man_particular.salesActivity }}</td>
            </tr>
            <tr>
                <th>SalesActivityParticular</th>
                <td>{{ sales_man_particular.salesActivityParticular }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('sales_man_particular_index') }}">back to list</a>

    <a href="{{ path('sales_man_particular_edit', {'id': sales_man_particular.id}) }}">edit</a>

    {{ include('sales_man_particular/_delete_form.html.twig') }}
{% endblock %}
