{% extends 'base.html.twig' %}

{% block title %}{{ 'template.human.research.title' | trans }}{% endblock %}

{% block body %}
    <div>
        {{  render(controller('App\\Controller\\ResearcherController::index')) }}
    </div>
    <div>
        {{  render(controller('App\\Controller\\ResearcherDirectorController::index')) }}
    </div>

    <a href="{{ path('player_human_ressourcies') }}">{{ 'template.back.research' | trans }}</a>


{% endblock %}
